<p>
  <h2><%= link_to post.title, post %></h2>
</p>

<p>
	<% if !post.image.blank? -%>
 

	<div class="thumbnail with-caption">
  <%= image_tag post.image, style: "width:100%" %>

  <small><%= simple_format post.caption %></small>

</div>
<% end %>

<% if !post.quote.blank? -%>
<blockquote>
  <p><%= simple_format post.quote %></p>
  
</blockquote>
<% end %>

  <%= simple_format post.content %>

</p>
<p class="text-muted"> 
<small>Posted on <%= post.created_at.to_formatted_s(:long_ordinal) %></small>
</p>


<%= tweet_button(via: "njdotcom", url: post, text: post.title) %>
