<!DOCTYPE html>
<html>
	<head>
	  <title>The Sandy Project</title>
	  
	 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
     <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

    <nav class="navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="page-header">
          
      


        <ul class="nav nav-pills pull-right">
   
         <li> <%= link_to "Home", root_url %> </li>
     <li> <%= link_to "About", about_url %> </li>
     <li> <%= link_to "Manage Posts", posts_url %> </li>
    
  </ul>
  <h1> <%= link_to "The Sandy Project", "/" %> <small>a NJ.com special blog</small>
            </h1>
        </div>
      </nav>
      <div class="row">
<div class="col-md-8 col-md-offset-2">
	<%= yield %>
</div>
</div>
</div>

	</body>
	</html>
