<!DOCTYPE html>
<html>
	<head>
	  <title>Forgotten Faces of Sandy</title>
	  
	 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
   
    
<link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700|Oswald' rel='stylesheet' type='text/css'>



    
    
    <% unless mobile? %>
 <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%else%>
  <%= stylesheet_link_tag "application" %>
  <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<% end%>
    
    
     <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>


	</head>
	<body>

     <div class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Forgotten Faces of Sandy", "/", class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
  <li class="<%= 'active' if current_page?(about_url) %>"><%= link_to "About", about_url %></li>
  <li class="<%= 'active' if current_page?(nominate_url) %>"><%= link_to "Tell us YOUR story", nominate_url %></li>
          
          </ul>
        </div><!--/.nav-collapse -->
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>

   <a name="anchor"></a> 
      

  <div id="content">
   
  
    
	<%= yield %>
   
</div>






	</body>
  <div class="col-xs-6">
 
  </div>
<div class="col-xs-6">
<%= link_to "Back to Top", @post, anchor: "anchor", class: "backtotop" %>
 
  </div>
  <script>

 </script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
 
  
	</html>
